button {
    font-weight: bold;
    margin: 10px;
}

.box {
    display: block;
    width: 100px;
    height: 100px;
    font-weight: bold;
    background-color: silver;
    border: 2px solid black;
    margin: 10px;
}

.blue {
    color: yellow;
    background-color: blue;
}

.green {
    color: white;
    background-color: green;
}

.orange {
    color: black;
    background-color: orange;
}

.yellow {
    color: blue;
    background-color: yellow;
}
