button {
    font-weight: bold;
    color: blue;
    background-color: "yellow";
    margin: 10px;
}

#box.hidden {
    display: none;
}

#box {
    display: block;
    width: 100px;
    height: 100px;
    font-weight: bold;
    background-color: blue;
    padding: 5px 20px;
    margin: 10px;
}